.Homescreen-box {
  height: 100vh;
  width: 100%;
  border: 1px solid red;
}
.flex-box {
  margin-top: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff !important;
  padding-inline: 20px !important;
}
.logo img {
  width: 75px;
  height: 70px;
  background-color: #fff;
}
.unordered ul li {
  padding: 12px !important;
  margin-top: 30px !important;
  list-style: none;
}
.icon {
  color: #333232;
  outline: none;
}
.icon img {
  height: 25px;
}

.card-img {
  width: 60% !important;
  height: 107px;
  transform: translate(25px);
}
.card {
  height: 160px !important;
  width: 200px;
  border: 3px solid #ffff !important;
  text-align: center;
}
.content-box {
  background-color: #fcfcfc !important;
  height: 90vh;
}
.editprofile-head {
  text-align: center;
  font-weight: 700;
}
.relatvie {
  position: relative;
  top: 100px;
  left: 50px;
}
.offset-card {
  width: 250px;
  object-fit: cover;
  position: relative;
  margin: auto !important;
  transform: translate(-37px, 65px);
  position: relative;
  top: 120px;
}
.flex-term {
  display: flex;
  align-items: center;
  gap: 5px;
}
.flex-term h6 {
  text-decoration: none;
}
.unordered a {
  text-decoration: none;
  color: #333232;
}
